html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font);
}

h1, h2, h3 {
    margin: 0;
}

p {
    margin: 0;
}

a, a:visited, a:active {
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    gap: 2.875rem;
}