@use '../base/breakpoints.scss' as *;

// Breakpoint mixin
@mixin respond-to($name) {
    @if map-has-key($breakpoints, $name ) {
        @media #{inspect(map-get($breakpoints, $name))} {
            @content;
        }
    }
    // If the key doesn't exist in the map
    @else {
        @warn "Invalid value, as it does not exist in `#{$breakpoints}`."
    }
};

// Font weight, Font size and Line height mixin
@mixin fonts($props) {
    $fw: if(map-has-key($props, font-weight ), map-get($props, font-weight), var(--bold));
    $fs: map-get($props, font-size);
    $lh: map-get($props, line-height);

    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
}