@use "../utils/" as *;
@use "../base/" as *;

// Heading 1
h1,
h2 {
  @include fonts($h-mobile);

  @include respond-to("large") {
    @include fonts($h-desktop);
  }
}

// Paragraph
p {
  @include fonts($para);
}

// Large card borders
.facebook {
  border-top: var(--card-fb);
}

.twitter {
  border-top: var(--card-tw);
}

.instagram::before {
   content: "";
   position: absolute;
   height: .3125rem;
   width: 100%;
   inset: 0;
   background: var(--instagram);
}

.youtube {
  border-top: var(--card-yt);
}

// trend colors
.positive {
  @include fonts($trend);
  color: var(--limeGreen);
}

.negative {
  @include fonts($trend);
  color: var(--brightRed);
}
