@use '../utils/' as *;
@use '../base/' as *;

.mdCard {
    display: flex;
    flex-direction: column;
    gap: 1.4375rem;
    padding: 0 1.875rem 0 1.5rem;
    background-color: var(--card-bg);
    border-radius: .3125rem;

    @include respond-to("large") {
        padding-right: 1.9375rem;
        max-width: 15.9375rem;
        max-height: 7.8125rem;
    }

    &__metrics {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-top: 1.5rem;
        color: var(--card-text-color);

        &--md {
            @include fonts($md-card-metric);
            white-space: nowrap;
        }
    }

    &__num {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        padding-bottom: 1.1875rem;

        &--lg {
            color: var(--card-num-color);
            @include fonts($mdNum);
        }

        &--stats {
            display: flex;
            align-items: center;
            gap: .1875rem;
    }   
    }   
}

.mdCard:hover {
    background-color: hsl(228, 33%, 91%);
    cursor: pointer;
  }