@use '../utils/' as *;
@use '../base/' as *;

.mdCards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    @include respond-to("large") {
        grid-template-columns: repeat(4, 1fr);
    }
}


